<div class="text-center">
  <div class="col-md-8">
    <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
  </div>

  <p>{{project.description}}</p>
  <p>Created by</p>
  <a href="/profile/{{user.id}}">{{user.name}}</a>
  <p>
    <span class="comments">{{project.comment}}</span>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comment-modal">Add Comment</button> 
    <div class="modal" tabindex="-1" id="comment-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form comment-form">
          <div class="form-group">
            <label for="comment-text">Comment:</label>
            <input class="form-input" type="text" id="comment-text"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id = "saveBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>   
    <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
  </p>
</div>

 <script src="./js/profile.js"></script>